:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(142, 90%, 61%);
    --clr-neutral-110: hsl(10, 10%, 90%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    /* place-self: center; */
    line-height: 1.6;
    background: var(--clr-neutral-110);
}

h1 {
    color: skyblue;
}

.card-react {
    color: var(--clr-neutral-100);
    background-image: url(../images/react.png);
    background-position: center center;
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
}

.card-react-content {
    padding: 1.5em;
    /* background: linear-gradient(#e66465, #9198e5); */
    background: linear-gradient(
        hsla(10, 0%, 15%, 0),
        hsla(10, 0%, 15%, 0.5) 15%,
        hsla(10, 0%, 15%, 1)
    );
}

.img-content {
    display: inline-block;
}

.counter {
    margin: 10px 0px 10px 100px;
    padding: 10px 10px 10px 50px;
}
